# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Theme files to ignore.
.sass-cache
.sass-cache/

# OS X
.DS_Store
